/*这个文件主要是定义一些基本的全局的样式，像主题的设置*/

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  margin:0
  padding:0
  outline: none

p,span
  margin 0
  outline none
a
  text-decoration: none
  color #000

div:focus
  outline: none

.fl_wrap
  min-height 1px
  overflow hidden
  .fl_left
    float left
  .fl_right
    float right


.geetest_copyright
  display none

/*elementui的样式修改*/
.myInline .el-form-item
  display inline-block
  width 45%

.el-table thead
  background rgb(222,222,222)
  tr
    background none
    th
      background none
