$tab-color = rgba(255,255,255,0.8)
$blue-bg-color = #409eff
$blue-hover-bg-color = #fff

$black-bg-color = #000
/*蓝色主题*/
.menuLeft.bg-blue
  background $blue-bg-color
  .el-menu
    background $blue-bg-color
  .el-submenu__title:hover,.el-menu-item:hover
    background $black-bg-color!important
    color white!important
  .el-menu-item,.el-submenu__title
    color $tab-color!important
  .el-menu-item.is-active
    background $black-bg-color!important
    color white
  .el-menu-item i
    color white
  .el-submenu__title i
    color $tab-color!important
  .inner
    .title
      background $blue-bg-color


.el-menu--vertical.bg-blue
  background $blue-bg-color
  ul
    background $blue-bg-color
    li
      color $tab-color!important
      & ul li:hover
        background $black-bg-color!important
        color white!important

.menuTop.bg-blue
  .el-menu--horizontal>.el-menu-item.is-active
    border-bottom none
    border-top 2px solid transparent
  .el-menu--horizontal>.el-menu-item:hover
    border-bottom none!important
    border-top 2px solid $blue-bg-color
  .el-menu--horizontal>.el-menu-item
    border-bottom none!important
    border-top 2px solid transparent


.menuLand
  &.bg-blue
    .el-tag.active
      border-top 2px solid $blue-bg-color!important








    /*黑色主题*/
.menuLeft.bg-black
  background black
  .inner
    .title
      background $black-bg-color
  .el-menu
    background black
  .el-submenu__title:hover,.el-menu-item:hover
    background #409eff!important
    color white!important
  .el-menu-item,.el-submenu__title
    color $tab-color!important
  .el-menu-item.is-active
    background #409eff!important
    color white
  .el-menu-item i
    color $tab-color!important
  .el-submenu__title i
    color $tab-color!important

.el-menu--vertical.bg-black
  background black
  ul
    background black
    li
      color $tab-color!important
      & ul li:hover
        background #409eff!important
        color white!important

.menuLeft .el-menu-item.is-active
  color white!important


.menuTop.bg-black
  .el-menu--horizontal>.el-menu-item.is-active
    border-bottom none
    border-top 2px solid transparent
  .el-menu--horizontal>.el-menu-item:hover
    border-bottom none!important
    border-top 2px solid $black-bg-color
  .el-menu--horizontal>.el-menu-item
    border-bottom none!important
    border-top 2px solid transparent



.menuLand
  &.bg-black
    .el-tag.active
      border-top 2px solid $black-bg-color!important
