/*这个文件用来设置基本的项目颜色风格变量*/

$color-text-l = #222
$color-text-ll = #999
$color-text-lll = #b2b2b2
$color-text-light-red = #f10000
$color-text-yellow = #ffd94a
$color-text-light-link = #409eff
$color-text-light-link2 = #3077BF


// 边框圆角大小
$radius-size-medium = 0.3rem
$radius-size-small = 0.1rem

/// 内容区阴影
$box-shadow-content = 0 1px 3px rgba(0, 0, 0, .1)


//背景图片
bg-image($url)
  background-image url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)  /*min-device-pixel-ratio:是指的屏幕分辨率的比率，例如iphone6的实际中是1:2的比率，这个值就是2*/
    background-image url($url + "@3x.png")
