<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
   <ol class="breadcrumb">
      <li><a href="/">全部相册</a></li>
      <li class="active"><%= albumName %></li>
    </ol>
    <div class="container">
        <div class="row">
            <% for(var i = 0 ; i < allAlbumNames.length ; i++){%>
              <div class="col-lg-3">
                <a href="" class="thumbnail">
                  <img src="<%= allAlbumNames[i] %>" style="width:100%;"/>
                  <h1> <%= albumName %> </h1>
                </a>
              </div>
          <%}%>
        </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/jquery2.1.0/jquery-2.1.0.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>