<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <h1><a href="/">全部相册</a></h1>
    <h1><a href="/up">上传</a></h1>
        <div class="row">
            <% for(var i = 0 ; i < album.length ; i++){%>
              <div class="col-lg-3">
                <a href="/<%= album[i] %> " class="thumbnail">
                  <img src="images/m2.jpg" style="width:100%;"/>
                  <h1> <%= album[i] %> </h1>
                </a>
              </div>
          <%}%>
        </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/jquery2.1.0/jquery-2.1.0.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>