/*边框是1的公共函数*/
border-1px($color)
  position: relative
  &:after
    display block
    position absolute
    left 0
    bottom 0
    width 100%
    border-top 1px solid $color
    content ''


/*背景图片的公共函数*/
bg-image($url)
  background-image url("../../assets/images/" + $url + "@2x.png")

.clearfix
      display inline-block
      &:after
        display block
        content ''
        height 0
        line-height 0
        clear both
        visibility hidden

