.flowChart{border-left:5px solid rgb(0,184,245);padding:15px 0;margin-left:20px;position:relative;}
			.flowChart:before{content: "";display: block;width:15px;height:15px;background:rgb(235,235,235);border-radius: 10px;position:absolute;
			top:0;left:-2.5px;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
			.flowChart:after{content: "";display: block;width:15px;height:15px;background:rgb(235,235,235);border-radius: 10px;position:absolute;
			bottom:0;left:-2.5px;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,50%);}
			
			.flowChart_inner{padding:20px 30px;position: relative;}
			.flowChart_inner span{transition:all linear .5s;width:20px;height:20px;background:rgb(0,184,245);border:5px solid rgb(235,235,235);line-height: 20px;font-size:10px;
			border-radius: 50px;display: block;position: absolute;
			left:-2.5px;top:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
			.flowChart_inner.active{color:rgb(0,184,245);font-size:20px;}
			.flowChart_inner:hover span{box-shadow: 0 0 20px 1px rgb(0,184,245);}
			.flowChart_inner.active span{box-shadow: 0 0 20px 5px rgb(0,184,245);}