<style>
    #search {
        height: 100vh;
    }
    
    #search .weui-cells {
        margin-top: 44px;
    }
    
    #search .weui-cells__title {
        border-bottom: 1px solid #D9D9D9;
        padding: 1em 15px;
        margin: 0;
    }
    
    #search .weui-cells__title:active {
        background: #ECECEC;
        cursor: pointer;
    }
</style>

<!-- 如果是已经定死的数据就用这个，否则就用下面注释的，把这个注释掉 -->
<div id="search" ng-controller="myctr3">
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="" ng-model="search">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                            <i class="weui-icon-search"></i>
                            <span>搜索</span>
                        </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <div class="weui-cells weui-cells_form" ng-click="pickName()">
        <div class="weui-cells__title" ng-repeat="a in show">{{a}}</div>
    </div>
</div>

<!-- 要是从服务器加载数据，规定一次加载几条的话，就用这个，把上面的注释掉 -->
<!--
<div id="search" ng-controller="myctr3" when-scrolled="loadMore()">
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="" ng-model="search">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                            <i class="weui-icon-search"></i>
                            <span>搜索</span>
                        </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <div class="weui-cells weui-cells_form" ng-click="pickName()">
        <div class="weui-cells__title" ng-repeat="a in show">{{a}}</div>
    </div>
</div>
-->