body{ background:#f7f7f7}
.ionic-body, body,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,button, input, select, textarea{ font-family: "黑体",Arial;}
p,li,ul,h1, h2, h3, h4, h5, h6{ margin:0;font-weight: initial; }
a { text-decoration: none; }
/*通用*/
.rela { position: relative; }
.left { float: left; }
.right { float: right; }
.width_94 { width: 94%; margin: 0 auto; }
.clear { clear: both; }
.color_y { color:#ff900d; }
/*header*/
.header_box { height: 44px; position: fixed; width: 100%; top: 0; z-index: 999999;}
.bar-header { border-bottom: solid 1px #e6e6e6;background: #fff;}
.bar-header .title { color:#aacc36 ; border-bottom: none; background: #fff;font-size: 19px; }
.star_x p {
	font-size: 0.65rem;
    display: inline-block;
    display: -webkit-inline-box;
}
.m_classify .icon_wei{
    background: url(../images/weixin/nav_pos_icon.png) no-repeat center;
    float: left;
    width: 16px;
    height: 20px;
    background-size: 15px;
}

.star_x p i {
    color: #b3b3b3;
}
.star_x p .icon_color {
    color: #ffa127;
}
.input_a input {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    background-image: url(../images/weixin/nav_ser_icon.png);
    background-repeat: no-repeat;
    background-position:5px center;
    background-size: 18px;
    color: #999;
    padding-left: 30px;
    height: 30px;
    margin-top: 2px;
	line-height: normal;
}
.input_a1 input {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    text-indent: 5px;
    color: #999;
    height: 30px;
    line-height: normal;
    padding-left: 5px;
    margin-top: 1px;
}

a.input_a,.input_a1 {
    width: 74%;
    height: 34px;
    position: absolute;
    right: 0;
    left: 10%;
    overflow: hidden;
}
a.rig_shai {
    line-height: 35px;
    color: #aacc36;
    position: absolute;
    top: 5px;
    right: 2%;
}
.rig_shai i { background:url(../images/weixin/shaixuan_icon.png) no-repeat right center; padding: 4px 10px; background-size: 15px;}
/*-----------------------------返回顶部----------------------------------------------*/
#totop {position: fixed; z-index: 99999; bottom: 62px;right: 2%;cursor: pointer; display: none; background: #fff; -moz-border-radius: 50%;
 -webkit-border-radius: 50%; border-radius: 50%;cursor: pointer;border: solid 1px #e1e1e1;}
#totop a {display: block; background-size:100%; width: 40px; height: 40px;cursor: pointer;background-image: url(../images/icon_return.png); background-repeat: no-repeat;
 background-position: center;}