
/* 购物车 */
div#shopping_cart { position: fixed; bottom: 7px; right: 2%; background: #aacc36; width: 50px; height: 50px; border-radius: 50%; z-index: 9998; }
#shopping_cart a { position: relative; display: block; text-align: center; }
#shopping_cart a img { width: 52%; margin-top: 13px; }
#shopping_cart a em { position: absolute; width: 18px; height: 18px; background: #ff900d; border-radius: 50%; right: 12px; top: 4px; line-height: 18px; color: #fff; display: none; }
#newly_added { color: #ff900d; position: fixed; z-index: 9999; }
.footer_h { height:100px; text-align: center; color: #999; line-height: 60px; }
.ion-ios-arrow-left:before { content: ""; color: #aacc36; }
/*购物车*/
.cart_top p { float: right; margin: 0; }
.cart_top { padding: 12px 4%; background: #fff; font-size: 0.7rem; color: #999; line-height: 24px; border-bottom: solid 1px #e6e6e6; }
.commodity_list { background: #fff; margin-bottom: 10px; }
.shop_ul_bottom.account_info_box:nth-last-child(1) { border-bottom: none; }
.commodity_list .tite_tim { width: 94%; margin: 0 auto; padding: 12px 0; color: #333; font-size: 0.7rem; background: url(../images/weixin/jit_icon.png) no-repeat right center; background-size: 6px; }
.commodity_list .tite_tim em { float: left; width: 20px; height: 20px; border: solid 1px #e6e6e6; border-radius: 50%; margin-right: 10px; }
.commodity_list .commodity_list_term { margin-left: 3%; }
.commodity_list .commodity_list_term li { border-top: solid 1px #e6e6e6; padding-right: 4%; position: relative; overflow: hidden; padding: 12px 0; }
.commodity_list .commodity_list_term li em { position: absolute; width: 20px; height: 20px; border: solid 1px #e6e6e6; border-radius: 50%; left: 0; top: 40px; }
.commodity_list .commodity_list_term li img { width: 80px; height: 80px; max-width: 80px; max-height: 80px; float: left; margin-left: 28px; }
.commodity_list .commodity_list_term li .div_center { width: 50%; float: left; position: relative; margin-top: 7px; margin-left: 2%; }
.commodity_list .commodity_list_term li .div_center h4 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; color: #333; margin: 0; font-size: 0.7rem; margin-bottom: 2px; }
.commodity_list .commodity_list_term li .div_center span { color: #666; font-size: 0.6rem; }
.commodity_list .commodity_list_term li .div_center p { margin: 0; font-size: 0.8rem; color: #ff900d; margin-top: 6px; font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif; }
.commodity_list .commodity_list_term li .div_right { position: absolute; bottom: 10px; right: 4%; border: solid 1px #e6e6e6; border-radius: 4px; width: 82px; overflow: hidden; text-align: center; line-height: 30px; }
.commodity_list .commodity_list_term li .div_right i { float: left; width: 33%; color: #333; }
.commodity_list .commodity_list_term li .div_right span { float: left; width: 33%; border-left: solid 1px #e6e6e6; border-right: solid 1px #e6e6e6; color: #333; }
.shop_ul_bottom.account_info_box { margin-top: 0; border-top: solid 1px #e6e6e6; border-bottom: solid 1px #e6e6e6; }
.shop_ul_bottom.account_info_box .xi_cu { height: 24px; line-height: 24px; padding: 0 6px; border-radius: 4px; background: #ff900d; color: #fff; margin-top: 11px; margin-right: 2%; }
.settle_box .all_check em { font-weight: initial; font-size: 0.7rem; color: #666; margin-left: 4%; }
.commodity_list .commodity_list_term li .div_center p i { font-size: 0.6rem; }
.commodity_list .commodity_list_term li .div_center p b { font-weight: initial; }
.settle_box .total_amount b { font-weight: initial; }
.finish_box { text-align: center; line-height: 24px; }
.finish_box img { width: 35%; margin-top: 50px; margin-bottom: 15px; }
.finish_box h1 { font-size: 0.9rem; color: #333; }
.finish_box p { color: #999; font-size: 0.7rem; }
.finish_box a { color: #aacc36; font-size: 0.7rem; }

@media screen and (max-width: 1920px){
	#cart_form{ width: 414px; margin: 0 auto; }
}
@media screen and (max-width: 800px){
	#cart_form{ width: 100%; margin: 0 auto; }
}
