			
			*{list-style: none;}
			a{text-decoration: none;}
			/*头部*/
			.band2{height:70px;background:url(../img/tu_1.jpg)left center no-repeat;background-size: cover; }
			.band2>div{color:white;line-height: 70px;font-size:25px;font-weight: 900;letter-spacing: 8px;}
			
			body{font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;}
			a{color:black;}
			
			.band3 .navbar{margin-bottom:0;border:none;background:rgb(245,245,245);border-bottom:2px solid rgb(213,213,213)}
			.band3 .navbar-nav li a:hover{background:none!important;border-bottom:3px solid rgb(61,147,235);}
			.band3 .navbar-nav li.active a{none;border-bottom:3px solid rgb(61,147,235);}
			
			
			/*内容部分的右边*/
			.con_right{margin-top:10px;}
			.con_right>div{margin-bottom:20px;}
			.con_right a{display: block;width:100%;}
			.con_right a img{width:100%;border-radius: 10px;}
			
			/*头部轮播图*/
			.top2 img{width:100%;height:400px!important;}